body {
    font-family: sans-serif;
}

header {
    background-color: green;
    height: 80px;
    border: 4px pink solid
}

.navigation {
    border: 8px red solid;
}

.stoma-facts {
    width: 900px;
    border: 4px purple solid;
}

.O-S {
    font-style: italic;
}