* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  header {
    color: white;
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header-img {
    width: 70px;
  }
  
  header h5 {
    text-decoration: underline;
  }
  
  section p {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sec-2 {
    width: 50%;
    margin: 10px auto 13px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section div {
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: center;
    margin: 0 10px 15px 0;
    width: 180px;
  }
  
  hr {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 25%;
  }
  
  footer {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .gallery-img {
    width: 150px;
  }
  
  .social-img {
    width: 25px;
    margin-left: 10px;
  }
