body {
    max-width: 80%;
    margin: 40px auto;
    background-color: rgb(247, 249, 249);
}

header {
    background-color: (245,245,245);
    border-radius: 5px;
    box-shadow: 10px 5px 10px grey;
    padding: 10px;
}

.container {
    margin: 20px 0 20px 0;
}